body {
  background-color: rgb(119, 71, 65);
  padding: 150px;
  font-family: 'ZCOOL XiaoWei';
  color:white;
}

.message {
  text-align: left;
  font-style: italic;
  font-size: 300%;
}

.contributor {
  text-align: right;
  font-family: 'Fira Sans';
  font-size: 150%;
  margin-bottom: 150px;
}
